@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, #1d3557 25%, #457b9d 75%);
  background-size: 200% 200%;
  animation: gradientAnimation 15s ease infinite;
  overflow-y: hidden; /* Hide scrollbar */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Custom scrollbar for any scrollable elements */
::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}
